body {
  background-color: #16423C;
  color: #C4DAD2;
  font-family: 'M Plus Code Latin';
  font-size: 20pt;
}

h1 {
  margin-bottom: 5px;
}

h2 {
  margin-bottom: 5px;
}

h3 {
  margin-bottom: 5px;
}
.keybox {
  width: 100%;
  height: 50px;
  /*margin-right: 20px;*/
}

textarea {
  border-radius: 10px;
  border: 2px solid #6A9C89;
  background-color: #E9EFEC;
}
